@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  line-height: 1.5;

}

:root{
  --fuente-principal:black;
  --fuente-secundaria: #fae8e8;
}




body {
  /*background-color: #081b29;*/
  background-color:whitesmoke;
  color: #ededed;
 

}

/* HEADER*/

.header {
  
  width: 100%;
  padding: 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 100;
  gap: 1rem;
}

.logo {
  font-size: 1.6rem;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 1.2rem;
  color: #ededed;
  font-weight: 500;
  margin-left: 2.2rem;
  transition: .5s;

}

.navbar a:hover {
  color: #00abf0;
}

.navbar a.active {
  color: #00abf0;
}




/* MAIN*/

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  padding: 0 10%;
  gap: 4rem;

}

.hero img{
  width: 500px;
  height: auto;
}

.hero-contenedor {
  max-width: 38rem;
  padding: 2rem;
}

.hero-contenedor h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--fuente-principal);
}

.hero-contenedor h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(62, 62, 62);
}

.hero-contenedor p {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 20px 0 40px;
  color: var(--fuente-principal);
}

.hero-contenedor .btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 3.2rem;
}

.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 100%;
  background:black;
  border: 2px solid black;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--fuente-secundaria);
}

.btn-box a:nth-child(2) {
  background-color: transparent;
  color: var(--fuente-principal);
}


.infoNosotros {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--fuente-principal);
  padding: 2rem 10rem;
}


.trabajaNosotros{
  display: flex;
  flex-direction: column;
  
}

.infoNosotros h2 {
  text-transform: uppercase;
  color: rgb(234, 233, 233);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 36px;
  border-bottom: 2px white solid;
  width: 50%;
  
}

.infoNosotros p {
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.infoNosotros a {
  display: inline-block;
  color: var(--fuente-principal);
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: whitesmoke;
  font-weight: 600;
  width: 300px;
  text-align: center;
  padding: .5rem;
  
}




/* Estilos para pantallas de hasta 768px de ancho */
@media only screen and (max-width: 768px) {

  /* Estilos para la cabecera */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    .navbar a {
        margin: 10px 0;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked ~ .navbar {
        display: flex;
    }
    input[type="checkbox"]:checked ~ .hamburger span:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 7px);
    }
    input[type="checkbox"]:checked ~ .hamburger span:nth-child(2) {
        opacity: 0;
    }
    input[type="checkbox"]:checked ~ .hamburger span:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -7px);
    }
}
  /* Estilos para la sección de información sobre nosotros */
  .infoNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .trabajaNosotros {
    margin-top: 1rem;
  }

  .trabajaNosotros a {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}





